## CLEANING KAGGLE DATASET

In [2]:
import pandas as pd

In [5]:
champions = pd.read_csv('champions_lore.csv')

champions

    champion                                              story
0     Aatrox  Whether mistaken for a demon or god, many tale...
1       Ahri  Ahri’s origins are a mystery, even to her.She ...
2      Akali  Ionia has always been a land of wild magic, it...
3     Akshan  Dashing through the shadows of eastern Shurima...
4    Alistar  Many civilizations have resisted Noxus, but no...
..       ...                                                ...
154     Zeri  Welcome to Universe, the definitive source for...
155    Ziggs  Ziggs was born with a talent for tinkering, bu...
156   Zilean  Icathia, most desolate and cursed of lands, wa...
157      Zoe  As befits her Targonian Aspect’s nature, Zoe d...
158     Zyra  Zyra’s memory is long, and runs as deep as the...

[159 rows x 2 columns]

In [6]:
champions = champions.drop(['story'], axis=1)

In [7]:
champions

    champion
0     Aatrox
1       Ahri
2      Akali
3     Akshan
4    Alistar
..       ...
154     Zeri
155    Ziggs
156   Zilean
157      Zoe
158     Zyra

[159 rows x 1 columns]

In [10]:
champions.to_csv('../data/datasetbase.csv', sep=',', index=False)